---
# App general
timezone: UTC
lat: 50.0
lng: 5.0
clear: yes
timeline: timeline.yml

# NHC Plugin
niko:
  address: 192.168.0.10
  port: 8000

# Slack Plugin
slack:
    hook: https://hooks.slack.com/services/{YOUR_TOKEN}
    options:
        username: Bot
        channel: #general
        icon: :computer:
        link_names: yes
        allow_markdown: yes
