---
sunrise:
  - action: slack_message
    message: Night mode off
  - action: niko_switch
    id: 12
    value: off

# -------------------------------------
'06:30':
  - days: mon tue wed thu fri
  - action: slack_message
    message: Wake UP !
  - action: niko_switch
    id: 6
    value: on
  - action: niko_switch
    id: 14
    value: on

# -------------------------------------
sunset:
  - action: niko_switch
    id: 4
    value: on

# -------------------------------------
midnight:
  - action: slack_message
    message: Night mode on
  - action: niko_switch
    id: 4
    value: off

