<?php return [
    'lat' => 50.0,
    'lng' => 5.0,
    'nhc' => 'http://127.0.0.1/',
    'slack' => [
        'hook' => 'https://hooks.slack.com/...',
        'options' => [
            'username' => 'Bot',
            'channel' => '#general',
            'icon' => ':computer:',
            'link_names' => true,
            'allow_markdown' => true
        ],
    ],
];
