<?php return [
    'sunrise' => [
    ],
    '06:30' => [
    ],
    'sunset' => [
    ],
    '23:00' => [
    ],

    'always' => [
        ['plugin' => 'slack_message', 'message' => 'Test message'],
    ]
];
